header, footer{
    background-color: #4b6d90 !important;
}


.imgs{
    width: 80% !important;
    
}

.aval{
    margin-top: 5% !important;
    text-align: center !important;
    padding: 2.5em !important;
 }

